# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\skrivbord\Javautveckling\Inlämningfuncprog\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
